<app-navbar></app-navbar>
<div class="container mt-5">
  <h1 class="text-center mb-4">Détails de la formation</h1>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title display-6">{{formation.titre}}</h2>
      <p class="card-text lead">Description: {{formation.description}}</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Catégories:</strong> {{formation.categories.join(', ')}}</li>
        <li class="list-group-item"><strong>Charge Horaire:</strong> {{formation.chargeHoraire}} heures</li>
        <li class="list-group-item"><strong>Programme:</strong> <a [href]="formation.programme" target="_blank" class="btn btn-link p-0">Voir le programme</a></li>
        <li class="list-group-item"><strong>Niveau de Difficulté:</strong> {{formation.difficulte}}</li>
        <li class="list-group-item"><strong>Tags:</strong> {{formation.tags.join(', ')}}</li>
      </ul>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h2 class="card-title display-6">Sessions</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>ID de la session :</strong> {{ session?.id }}</li>
        <li class="list-group-item"><strong>Date de début :</strong> {{ session?.dateDebut }}</li>
        <li class="list-group-item"><strong>Date de fin :</strong> {{ session?.dateFin }}</li>
        <li class="list-group-item"><strong>Formateurs :</strong> {{ train?.nom + " " + train?.prenom }}</li>
        <li class="list-group-item"><strong>Nombre d'inscriptions :</strong> {{ session?.candidatsInscrits.length }}</li>
      </ul>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button [disabled]="session?.candidatsInscrits.length > 15" class="btn btn-success btn-lg" (click)="inscrti()">
      S'inscrire
    </button>
  </div>
</div>